.scrollable {
    overflow-y: scroll;
    height: 80vh;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 40px;
}

.message-header {
    background-color: #c9ccd3;
    border-color: #c9ccd3;
    background-color: #f7f5f5;
    border-color: #f7f5f5;
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: black;
    border-bottom: 1px solid #32b496;
    opacity: 0.9;
    font-weight: 400;
}

.modal-title{
    color: #32b496;
    font-weight: 200;
    width: 100%;
    margin-bottom: 7px;
}

.application-status-div {
    text-align: right;
    width: 100%;
    padding-bottom: 0px;
    /* font-weight: bold; */
}

.application-status-buttons {
    text-align: left;
}

.application-status {
    font-weight: bold;
    color: #52487a;
    color: #01579b;
    font-weight: 400;
}
.tabs-inbox{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.tab-active{
    color: #32b496;  
    font-size: 16px;
    font-weight: 300;
}

.tab-inactive{ 
    font-size: 16px;
    font-weight: 300;
}

.btn-approve {
    color: #32b496;
}

.btn-reject {
    color: #F4656A;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.profile-name {
    position: absolute;
    left: 90px;
    top: 30px;
    color: #212121;
    opacity: 0.9;
    font-size: 16px;
    font-weight: 300;
}

.application-date {
    text-align: right;
    width: 100%;
    padding-bottom: 10px;
}