<div class="container body-main-container center-block">
    <button type="button" class="btn btn-primary btn-block center-block create-trip-button" [routerLink]="['/new-trip']">I am the Trip Organizer</button>     
    <h3 class="body-main-title">ADD TO AN EXISTING TRIP</h3> 

    <div class="container steps">
        
      <p class="number-step">1</p>
      <div class="step">
      <h5 class="title-step">Search and select</h5>
      <p class="desc-step">Search for your perfect trip. Indicate the place and date and select the trip that best suits you</p>
      </div>
    <br/>
      <p class="number-step">2</p>
      <div class="step"><h5 class="title-step">Book the trip</h5>
      <p class="desc-step">When you make a request to add a trip, you must wait for the organizer to accept the request.</p>
    </div>
  <br/>
      <p class="number-step">3</p>
      <div class="step"><h5 class="title-step">Confirmation</h5>
      <p class="desc-step">When the organizer approves or rejects your request, you will receive a notification about it</p>
    </div>
  <br/>
      <p class="number-step">4</p>
      <div class="step">
      <h5 class="title-step">Enjoy the trip!</h5>
      <p class="desc-step">And that’s it; enjoy the trip! Make new friends sharing a trip.</p>
    </div>
    </div>
</div>
    