.search-list {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    width: 100%;
}

.modal-title {
    color: #32b496;
    font-weight: 200;
    width: 100%;
}

.trip-title {
    color: #212121;
    color: black;
    opacity: 0.9;
    font-size: 18px;
    font-weight: 400;
}

.trip-text {
    color: #212121;
    opacity: 0.9;
    font-weight: 300;
}

.scrollable {
    overflow-y: scroll;
    height: 80vh;
    width: 100%;
}

.trip-div {
    background-color: #f7f5f5;
    border-color: #f7f5f5;
    border-bottom: 1px solid #32b496;
}

.trip-icons {
    display: inline-block;
    width: 235px;
    margin: 0;
    padding: 0;
    text-align: right;
}

.owner-name-div {
    width: 130px;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 18px;
}

.icons-div {
    width: 100%;
    margin: 0;
    padding: 0;
}