<div class="container fixed-bottom nav-bar-general" *ngIf="isAuthenticated">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link nav-bar-general-item" [routerLink]="['/new-trip']" href="#">
            <i class="fa fa-plane fa-lg" aria-hidden="true" title="My Trips"></i> Trips
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-bar-general-item" [routerLink]="['/inbox']" href="#">
          <i class="fa fa-inbox fa-lg" aria-hidden="true" title="Inbox"></i>  Inbox
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-bar-general-item" href="#">
        <i class="fa fa-calendar fa-lg" aria-hidden="true" title="Calendar"></i>  Calendar
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-bar-general-item" href="#">
        <i class="fa fa-search fa-lg" aria-hidden="true" title="Search"></i> Search
      </a>
    </li>
  </ul>
</div>
