<div class="container header-main-container sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand header-logo" href="#"><span class="logo-bold">[</span><span class="logo-light"> add</span><span class="logo-bold">Tripper ]</span></a>
      <button class="navbar-inverse navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-inverse navbar-toggler-icon custom-toggler"></span>
          </button>
  

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#loginModal" href="#" *ngIf="!isAuthenticated">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#signupModal" href="#" *ngIf="!isAuthenticated">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAuthenticated" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1 class="header-title">You will never travel alone</h1>
  <h5 class="header-description">The easiest way to find people to share your trip</h5>
  <app-home-search-form></app-home-search-form>
</div>
<app-login></app-login>
<app-register></app-register>
