.trip-form{
    margin-bottom: 45px;
    background-color: white;
    font-weight: 300;
}

.form-div{
    background-color: white;
}

.modal-title{
    color: #32b496;
    font-weight: 200;
    width: 100%;
}

.btn-create-trip{
    background-color: #00bfa5;
    border-color: #00bfa5;
}

:host /deep/ span.chevron{
    color: #00bfa5 !important;
}